.item{
    margin-inline: 10px;
}
input{
    margin-inline: 20px;
    margin-bottom: 10px;
}
table, td, tr{
    border: 1px black solid;
}
td, tr{
    margin: -5px;
}
fieldset{
    width: fit-content;
    height: fit-content;
    padding: 10px;
    
}